{% extends 'components/base.html' %} {% load static %} {% block content %}

<div class="container">
  <div class="title-section text-center col-12">
    <h2 class="text-uppercase">ສິນຄ້າ ຍອດນິຍົມ</h2>
  </div>
</div>



<!-- blog product -->
{% for item in items %}
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-lg-4 text-center item mb-4">
      <!-- <span class="tag">Sale</span> -->
      <a href="#">
        <img src="{{ item.img_item.url }}" alt="Image" width="270" height="370"
      /></a>
      <h3 class="text-dark"><a href="#">{{ item.name_item }}</a></h3>
      <p class="price text-danger"><del>{{ item.price_del_group }}</del> ກີບ</p>
      <p class="price text-success">{{ item.price_group }} ກິບ</p>
    </div>
  </div>
</div>
{% endfor %}

<!-- end blog -->




<!-- page  number-->
{% if items.paginator.num_page > 1  %}
<div class="row mt-5">
  <div class="col-md-12 text-center">
    <div class="site-block-27">
      <ul>
        <li><a href="#">&lt;</a></li>
        {% for page_number in items.paginator.page_range %}
        <li class="active" href="?page={{page_number}}"><span>{{ page_number }}</span></li>
        {% endfor %}
        <li><a href="#">&gt;</a></li>
      </ul>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}
