{% load static %}
<header class="site-header">
  <!-- place navbar here -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/admin">SK pharma</a>
    <button class="navbar-toggler hidden-lg-up" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="#" aria-current="page">ໜ້າຫຼັກ <span class="visually-hidden"></span></a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ໝວດໝູ</a>
          <div class="dropdown-menu" aria-labelledby="dropdownId">
            
            {% for category in categories %}
            <a class="dropdown-item" href="#">{{ category.category_item }}</a>
            {% endfor %}
          </div>
        </li>
      </ul>
      <form class="d-flex my-2 my-lg-0">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
</header>


<!-- {% for category in categories %}
<a href="#">{{ category.category_item }}</a>
<a class="dropdown-item fs-5 fw-bold" href="#">ຢາປິ່ນປົວພະຍາດ</a>
{% endfor %} -->