
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Lao Looped', sans-serif;
}

body {
    height: 100vh;
    background-color: #fff;

}



footer {
    background-color: rgb(67, 143, 67);
}


.search {
    padding-top: 60px;
    padding-bottom: 60px;
}

