
:root {
    --dark: darkslategray;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Lao Looped', sans-serif;
}

body {
    height: 100vh;
    background-image: './images/bg_1.jpg';

}
/* nav Header */

.navbar.navbar-dark.bg-dark.fixed-top {
    background-color: var(--dark);

}


.offcanvas.offcanvas-end.show {
    background-color: var(--dark);
}
.offcanvas-body{
    background-color: var(--dark);
}

.navbar-toggler {
    border: none;
}

/* Foodter */

footer {
    background-color: var(--dark);
}
a {
    color: #000;
}

.search {
    padding-top: 60px;
    padding-bottom: 60px;
}

