
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Lao Looped', sans-serif;
}

body {
    height: 100vh;
    background-color: #fff;

}



footer {
    background-color: rgb(67, 143, 67);
}

.container-title {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
    
}

.search {
    padding-top: 60px;
}

